<% if task.errors.present?%>
  <ul>
    <% task.errors.each do |error, message| %>
    <li style="color:red"><%=message%></li>
    <%end%>
  </ul>
<% end %>

<%= simple_form_for task do |f| %>
<%=f.input :title, label: t('views.tasks.title') %>
<%=f.input :content, label: t('views.tasks.content') %>
<%=f.input :deadline, label: t('views.tasks.deadline')%>
<%=f.button :submit, t('views.submit_btn') %>
<%end%>