<h1><%=t('views.tasks_banner')%></h1>
<%= link_to  t('views.new_task'), new_task_path %>
<table border="1" style="border-collapse: collapse;">
  <thead>
    <tr>
      <td><%=t('views.tasks.title')%></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%=link_to task.title, task_path(task) %></td>
      <td><%= link_to  t('views.tasks.edit'), edit_task_path(task) %> <%=button_to 'x', task_path(task),data: {:confirm => 'Are you sure?'}, method: :delete%></td>
    </tr>
    <%end%>
  </tbody> 
</table>