
<div class="card mt-5 mb-3">
  <div class="card-body bg-light text-dark d-flex justify-content-center">
    <%= search_form_for @q,
      wrapper_mappings: {boolean: :inline_boolean},
      html: { class: 'form-inline' } do |f| %>
      <%= f.input :title_cont, label: t('views.tasks.title'), input_html: { class: "mr-3 ml-2" } %>
      <%= f.input :state_eq, as: :select,label: t('views.tasks.state_t'), collection: Task.states.keys.map {|state| [Task.states[state], t("views.tasks.state.#{state}")]}, label_method: :second, value_method: :first ,input_html: { class: "mr-3 ml-2" }%>
      <%= f.submit class: "btn btn-outline-secondary btn-search mr-sm-2" %>
    <% end %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%=created_sort%></th>
      <th scope="col"><%=deadline_sort%></th>
      <th scope="col"><%=t('views.tasks.title')%></th>
      <th scope="col"><%=priority_sort%></th>
      <th scope="col"><%=t('views.tasks.state_t')%></th>
      <th scope="col"><%=t('views.tasks.user')%></th>
      <th scope="col"> </th>

    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%=I18n.l( task.created_at, format: :short)%></td>
      <td><%=I18n.l( task.deadline, format: :short) if task.deadline.present?%></td>
      <td><%=link_to task.title, task_path(task) %></td>
      <td><%=link_to task.title, task_path(task) %> <small><%= badge_tags task.tags%></small></td>
      <td><%=t("views.tasks.priority.#{task.priority}") %></td>
      <td><%= t("views.tasks.state.#{task.state}")%></td>
      <td><%= task.user.name%></td>
      <td>
      <%= link_to edit_task_path(task), class: 'btn btn-outline-secondary btn-sm btn-edit' do %>
        <%= fa_icon "edit" %>
      <%end%> 

      <%=link_to task_path(task),data: {:confirm => 'Are you sure?'}, method: :delete, class:"btn btn-outline-secondary btn-sm btn-delete" do %>
        <%= fa_icon "times" %>
      <%end%></td>

    </tr>
    <%end%>
  </tbody> 
</table>
<div class="d-flex justify-content-center mt-4">
  <%= paginate @tasks, theme: 'twitter-bootstrap-4'%>
</div>
