<h1><%=t('views.show_task')%></h1>

<div class="card">
  <div class="card-header">
    <%=@task.title%> <span class="badge badge-secondary"><%=t("views.tasks.state.#{@task.state}")%></span>
  </div>
  <div class="card-body">

    <p class="card-text"><%=truncate @task.content%></p>
    <p> <%=badge_tags @task.tags%></p>
    <%=state_control(@task)%>
    <%= link_to edit_task_path(@task), class: 'btn btn-outline-secondary btn-sm btn-edit' do %>
      <%= fa_icon "edit" %>
    <%end%> 
    <%=link_to task_path(@task),data: {:confirm => 'Are you sure?'}, method: :delete, class:"btn btn-outline-danger btn-sm btn-delete" do %>
      <%= fa_icon "times" %>
    <%end%>
  </div>
  <div class="card-footer text-muted">
     <%= t('views.tasks.deadline')%> : <em><%=l(@task.deadline, format: :short) if @task.deadline.present?%></em>
  </div>
</div>