<h1>使用者清單</h1>

<table class="table mt-3">
  <thead class="">
    <tr>
      <th scope="col"><%=t('views.user.name')%></th>
      <th sope="col"><%=t('views.user.email') %></th>
      <th class="user-table-control" scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %> 
    <tr>
      <td ><%=link_to user.name, admin_user_path(user) %></td>
      <td ><%= user.email %></td>
      <td class="user-table-control">
        <%= link_to edit_admin_user_path(user), class: 'btn btn-outline-secondary btn-sm btn-edit' do %>
          <%= fa_icon "edit" %>
        <%end%> 
        <%=link_to admin_user_path(user),data: {:confirm => 'Are you sure?'}, method: :delete, class:"btn btn-outline-secondary btn-sm btn-delete" do %>
          <%= fa_icon "times" %>
        <%end%>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
