<!DOCTYPE html>
<html>
  <head>
    <title>Tatask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <%=link_to t('views.admin_banner'), admin_root_path, class:'navbar-brand' %>
  
    <div class="collapse navbar-collapse" id="forum_menu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%=link_to t('views.front_end'), root_path, class:'nav-link'%>
        </li>
      </ul>
      <ul class="navbar-nav ">  
        <% if current_user %>
        <li class="nav-item dropdown">
          <%= link_to current_user.email, user_path(current_user), class: 'nav-link dropdown-toggle', data:{ toggle:'dropdown'} %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to t('views.user.profile'),  user_path(current_user), class: 'dropdown-item' %>
            <%= link_to t('views.user.edit'),  edit_user_path(current_user), class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to t('views.user.logout'), logout_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
        <%else%>
        <li class="nav-item">
          <%= link_to t('views.user.login'), login_path ,class:'nav-link'%>
        </li>
        <li>
          <%= link_to t('views.user.sing_up'), signup_path,class:'nav-link' %>
        </li>
        <%end%>    
      </ul>
    </div>
  </nav>
  <!-- navbar end -->
  <!-- ===========alert and notice=========== -->
  <% if flash[:notice] %>
  <div class="container">
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= notice %>
    </div>
  </div>
  <%end%>

  <% if flash[:alert] %>
  <div class="container">
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= alert %>
    </div>
  </div>
  <%end%>
  <!-- ===========alert and notice end =========== -->
  <div class="container">
    <%= yield %>
  </div>  
  
  </body>
</html>
